$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$input-backgroundColor: #EAEAEA;
$backgroundColor: #F6F6F6;
$navIconColor: #7E7E7E;
$footerColor: #353535;
$breakPoints: (desktop: 1300px,
    pad-max: 1299px,
    pad-min: 760px,
    mobile: 759px);